In [3]:
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv('datasets_483_982_spam.csv',encoding="ISO-8859-1")

In [5]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
df.shape

(5572, 5)

In [7]:
df.describe(include = 'all')

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
# example of clean comment
df.v2[0]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [9]:
df.shape[0]

5572

In [1]:
import pandas as pd
import numpy as np
import re
import string
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk import stem
from timeit import default_timer as timer

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score, roc_auc_score, roc_curve
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.metrics import fbeta_score
from statistics import mean
from sklearn.metrics import hamming_loss
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import learning_curve

from sklearn.metrics import roc_auc_score, confusion_matrix
import statistics
from sklearn.metrics import recall_score


from sklearn.pipeline import Pipeline

from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import VotingClassifier

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [2]:
df = pd.read_csv('datasets_483_982_spam.csv',encoding="ISO-8859-1")

In [12]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [13]:
df = df[['v1', 'v2']]

In [14]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
lemmatizer = WordNetLemmatizer()

In [16]:
stopwords = set('C:\Suhani\python\nltk_data\corpora\stopwords\english')

In [17]:
stemmer = stem.SnowballStemmer('english')

In [18]:
def clean_message(t):
    t = t.lower()
    t = [word for word in t.split() if word not in stopwords]
    t = " ".join([stemmer.stem(word) for word in t])
    return t

In [19]:
df['v2'] = df['v2'].apply(clean_message)

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['v2'], df['v1'], test_size = 0.3, random_state = 1)
print(X_train)
# training the vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)

4393    baaaaaaaabe! wake up ! miss you ! crave you! n...
216        tired. haven't slept well the past few nights.
4471         3. you have receiv your mobil content. enjoy
3889    doubl min & 1000 txts on orang tariffs. latest...
5030          hey... veri inconveni for your sis not huh?
                              ...
905         hey what up charl sorri about the late reply.
5192    oh oh... den muz chang plan liao... go back ha...
3980    huh cant thk of more oredi how mani page do we...
235           have print it oh. so &lt;#&gt; come upstair
5157                                k:) sms chat with me.
Name: v2, Length: 3900, dtype: object

In [21]:
df['v2']

0       go until jurong point, crazy.. avail onli in b...
1                               ok lar... joke wif oni...
2       free entri in 2 wkli comp to win fa cup final ...
3             dun say so earli hor... alreadi then say...
4       nah don't think he goe to usf, he live around ...
                              ...
5567    this is the 2nd time we have tri 2 contact u. ...
5568                    will ì_ b go to esplanad fr home?
5569    pity, * was in mood for that. so...ani other s...
5570    the guy did some bitch but act like i'd be int...
5571                             rofl. it true to it name
Name: v2, Length: 5572, dtype: object

In [22]:
print(y_train)

4393     ham
216      ham
4471    spam
3889    spam
5030     ham
        ...
905      ham
5192     ham
3980     ham
235      ham
5157     ham
Name: v1, Length: 3900, dtype: object

In [23]:
from sklearn import svm
svm = svm.SVC(C=1000)
svm.fit(X_train, y_train)

SVC(C=1000)

In [24]:
from sklearn.metrics import confusion_matrix
X_test = vectorizer.transform(X_test)
y_pred = svm.predict(X_test)
print(confusion_matrix(y_test, y_pred))
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

[[1453    1]
 [  24  194]]
0.9850478468899522

In [25]:
def pred(msg):
    msg = vectorizer.transform([msg])
    prediction = svm.predict(msg)
    return prediction[0]

In [41]:
pred(df.v2[0])

'ham'